.welcome{
	padding-top: 18%;
	background-color:rgba(0,0,0,0.2);
	animation: open 6s;
	position: relative;
}
.intro{
	font-family: fantasy;
	font-size: 50px;
	color: white;
	text-align: center;
	position: relative;
	/*animation-delay: 2.5s;*/
}
.intro1{
	animation: 2s intro1;

}
.intro2{
	animation: 3s intro2;
}
.header{
	animation: openC 2s;
}
@keyframes open{
	0%{
		opacity: 0;
		padding-top: 0;
	}
	100%{
		opacity: 1;
		padding-top: 18%;
	}
}

@keyframes intro1{
	0%{
		opacity: 0;
		margin-top: -600px;
		color: #74b9ff;


	}
	100%{
		opacity: 1;
		margin-top: 0;
		color: white;

	}
}
@keyframes intro2{
	0%{
		opacity: 0.5;
		margin-top: 1000px;
		color: #74b9ff;

	}
	100%{
		opacity: 1;
		margin-top: 0;
		color: white;

	}
}
@keyframes openC{
	0%{
		/*background: #ffffff;*/
	}
	100%{
		/*background: #45aaf2;*/
	}
}
